$dark: #000000;
$gray: #373737;
$blue: #273cf6;
$red: #eb1d47;
$light: #fcfcfc;

$base-dash-background: #373737;
$bash-dash-menu: #040505;

$base-dash-element-1: #fc9aae;
$base-dash-element-2: #eb1d47;
$base-dash-element-3: #960220;