$dark: #000000;
$gray: #373737;
$blue: #273cf6;
$red: #eb1d47;
$light: #ffffff;

$blue-dash-1: #C2F3FC;
$blue-dash-2: #6FD5E9;
$blue-dash-3: #2092A8;

$base-dash-background: #373737;
$bash-dash-menu: #040505;