#progress-bar {
  width: 12.5%;
  height: 8px;
  background-color: $blue;
  
  &::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 82%;
    top: 16px;
    background-color: $light;

    @include d(s) {
      width: 80%;
    }
  }
}

#sign-up-2, #sign-up-3, #sign-up-4, #sign-up-5, #sign-up-6, #sign-up-7, #sign-up-8 {
  display: none;
}

.sign-up-form {

  h1 span {
    position: relative;
    display: inline-block;
    width: auto;
    height: 0;
    opacity: 1;
  }

  .sign-up-inputs {

    input {
      font-weight: 400;
      font-size: 24px;
      color: $light;
      padding: 16px 32px;
      border-bottom: 1px solid $blue;
  
      &:focus {
        border-bottom-left-radius: 20%;
        border-bottom-right-radius: 20%;
        border-color: $red;
        padding-left: 52px;
        
        &::placeholder {
          transition-duration: .5s;
          color: $red;
        }
        
      }

      &[name=logradouro-empresa], &[name=bairro-empresa], &[name=cidade-empresa], &[name=estado-empresa] {
        border-bottom: 1px solid $red;
      }
    }

    small {
      margin-top: 16px;
      margin-left: 32px;
    }
  }
  
  .sign-up-buttons {
    button + button {
      margin-left: 32px;

      @include d(s) {
        margin-left: 0;
        margin-top: 32px;
      }
    }
  }
}