.font-size-display {
  font-size: $size-display;
}

.font-size-large {
  font-size: $size-large;
}

.font-size-title {
  font-size: $size-title;
}

.font-size-subtitle {
  font-size: $size-subtitle;
}

.font-size-button {
  font-size: $size-button;
}

.font-size-body {
  font-size: $size-body;
}