.tiny-space {
  margin-top: 4px;
}

.little-space {
  margin-top: 8px;
}

.small-space {
  margin-top: 16px;

  &.left {
    margin-top: 0;
    margin-left: 16px;
  }

  &.right {
    margin-top: 0;
    margin-right: 16px;
  }
}

.base-space {
  margin-top: 32px;

  &.left {
    margin-top: 0;
    margin-left: 32px;
  }

  &.right {
    margin-top: 0;
    margin-right: 32px;
  }

  &.bottom {
    margin-top: 0;
    margin-bottom: 64px;
  }
}

.large-space {
  margin-top: 64px;

  &.left {
    margin-top: 0;
    margin-left: 64px;
  }

  &.right {
    margin-top: 0;
    margin-right: 64px;
  }

  &.bottom {
    margin-top: 0;
    margin-bottom: 64px;
  }
}

.extra-large-space {
  margin-top: 128px;
}

.sections-space {
  margin-top: 256px;
}