*, *::after, *::before {
  box-sizing: border-box;
}

.grid-1 {
  width: calc(8.33333% - 20px);
}

.grid-2 {
  width: calc(16.66667% - 20px);
}

.grid-3 {
  width: calc(25% - 20px);
}

.grid-4 {
  width: calc(33.33333% - 20px);
}

.grid-5 {
  width: calc(41.66667% - 20px);
}

.grid-6 {
  width: calc(50% - 20px);
}

.grid-7 {
  width: calc(58.33333% - 20px);
}

.grid-8 {
  width: calc(66.66667% - 20px);
}

.grid-9 {
  width: calc(75% - 20px);
}

.grid-10 {
  width: calc(83.33333% - 20px);
}

.grid-11 {
  width: calc(91.66667% - 20px);
}

.grid-12 {
  width: calc(100% - 20px);
}

[class^="grid-"] {
  float: left;
  min-height: 1px;
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  [class^="grid-"] {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0;
  }
}

.offset-1 {
  margin-left: calc(8.33333% + 10px);
}

.offset-2 {
  margin-left: calc(16.66667% + 10px);
}

.offset-3 {
  margin-left: calc(25% + 10px);
}

.offset-4 {
  margin-left: calc(33.33333% + 10px);
}

.offset-5 {
  margin-left: calc(41.66667% + 10px);
}

.offset-6 {
  margin-left: calc(50% + 10px);
}

.offset-7 {
  margin-left: calc(58.33333% + 10px);
}

.offset-8 {
  margin-left: calc(66.66667% + 10px);
}

.offset-9 {
  margin-left: calc(75% + 10px);
}

.offset-10 {
  margin-left: calc(83.33333% + 10px);
}

.offset-11 {
  margin-left: calc(91.66667% + 10px);
}

.offset-12 {
  margin-left: calc(100% + 10px);
}

@media screen and (max-width: 767px) {
  .offset-1, .offset-2, .offset-3, .offset-4, .offset-5, .offset-6, .offset-7, .offset-8, .offset-9, .offset-10, .offset-11, .offset-12, .pig-offset-1, .pig-offset-2, .pig-offset-3, .pig-offset-4, .pig-offset-5, .pig-offset-6, .pig-offset-7, .pig-offset-8, .pig-offset-9, .pig-offset-10, .pig-offset-11, .pig-offset-12 {
    margin-left: 0;
  }
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  position: relative;
}

@media screen and (min-width: 960px) and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (min-width: 768px) and (max-width: 959px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.container::after, .container::before {
  content: '';
  display: table;
  clear: both;
}

.row {
  margin-left: -10px;
  margin-right: -10px;
}

@media screen and (max-width: 767px) {
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

.row::after, .row::before {
  content: '';
  display: table;
  clear: both;
}

*, *::after, *::before {
  box-sizing: border-box;
}

.pig-grid-1 {
  width: calc(8.33333% - 20px);
}

.pig-grid-2 {
  width: calc(16.66667% - 20px);
}

.pig-grid-3 {
  width: calc(25% - 20px);
}

.pig-grid-4 {
  width: calc(33.33333% - 20px);
}

.pig-grid-5 {
  width: calc(41.66667% - 20px);
}

.pig-grid-6 {
  width: calc(50% - 20px);
}

.pig-grid-7 {
  width: calc(58.33333% - 20px);
}

.pig-grid-8 {
  width: calc(66.66667% - 20px);
}

.pig-grid-9 {
  width: calc(75% - 20px);
}

.pig-grid-10 {
  width: calc(83.33333% - 20px);
}

.pig-grid-11 {
  width: calc(91.66667% - 20px);
}

.pig-grid-12 {
  width: calc(100% - 20px);
}

[class^="pig-grid-"] {
  float: left;
  min-height: 1px;
}

@media screen and (max-width: 767px) {
  [class^="pig-grid-"] {
    width: 100%;
    float: none;
  }
}

.pig-offset-1 {
  margin-left: calc(8.33333% + 10px);
}

.pig-offset-2 {
  margin-left: calc(16.66667% + 10px);
}

.pig-offset-3 {
  margin-left: calc(25% + 10px);
}

.pig-offset-4 {
  margin-left: calc(33.33333% + 10px);
}

.pig-offset-5 {
  margin-left: calc(41.66667% + 10px);
}

.pig-offset-6 {
  margin-left: calc(50% + 10px);
}

.pig-offset-7 {
  margin-left: calc(58.33333% + 10px);
}

.pig-offset-8 {
  margin-left: calc(66.66667% + 10px);
}

.pig-offset-9 {
  margin-left: calc(75% + 10px);
}

.pig-offset-10 {
  margin-left: calc(83.33333% + 10px);
}

.pig-offset-11 {
  margin-left: calc(91.66667% + 10px);
}

.pig-offset-12 {
  margin-left: calc(100% + 10px);
}

@media screen and (max-width: 767px) {
  .offset-1, .offset-2, .offset-3, .offset-4, .offset-5, .offset-6, .offset-7, .offset-8, .offset-9, .offset-10, .offset-11, .offset-12, .pig-offset-1, .pig-offset-2, .pig-offset-3, .pig-offset-4, .pig-offset-5, .pig-offset-6, .pig-offset-7, .pig-offset-8, .pig-offset-9, .pig-offset-10, .pig-offset-11, .pig-offset-12 {
    margin-left: 0;
  }
}

.pig-container {
  max-width: 100%;
  margin: 0px auto;
  position: relative;
}

@media screen and (min-width: 960px) and (max-width: 1199px) {
  .pig-container {
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 959px) {
  .pig-container {
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .pig-container {
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.pig-container::after, .pig-container::before {
  content: '';
  display: table;
  clear: both;
}

@media screen and (max-width: 767px) {
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

.row::after, .row::before {
  content: '';
  display: table;
  clear: both;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  transition-duration: .5s;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.color-red {
  color: #eb1d47;
}

.color-blue {
  color: #273cf6;
}

.color-gray {
  color: #373737;
}

.color-white {
  color: #ffffff;
}

.color-blue-dash {
  color: #6FD5E9;
}

.font-size-display {
  font-size: 98px;
}

.font-size-large {
  font-size: 48px;
}

.font-size-title {
  font-size: 34px;
}

.font-size-subtitle {
  font-size: 24px;
}

.font-size-button {
  font-size: 18px;
}

.font-size-body {
  font-size: 16px;
}

.font-weight-bold {
  font-weight: 700;
}

.font-weight-light {
  font-weight: 300;
}

.to-lowercase {
  text-transform: lowercase;
}

.to-uppercase {
  text-transform: uppercase;
}

select {
  border: 2px solid #273cf6;
  width: 100%;
  font-family: "Roboto", sans-serif;
  border: none;
  background: transparent;
}

select option {
  font-size: 16px;
}

input {
  width: 100%;
  border: none;
  padding: 10px 16px;
  background: transparent;
  outline: none;
}

label {
  display: block;
}

small {
  display: block;
  color: #273cf6;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.border-bottom {
  border-bottom: 2px solid #373737;
}

.button-outline, .button-filled {
  cursor: pointer;
  border: 0;
  outline: none;
  padding: 20px 50px;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2), 0px 3px 16px rgba(0, 0, 0, 0.12), 0px 9px 12px rgba(0, 0, 0, 0.14);
}

.d-block {
  display: block;
}

.d-i-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

.centralize {
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.float-none {
  float: none;
}

img {
  width: 100%;
}

.opacity-10 {
  opacity: .1;
}

.opacity-60 {
  opacity: .6;
}

.tiny-space {
  margin-top: 4px;
}

.tiny-space.bottom {
  margin-top: 0;
  margin-bottom: 4px;
}

.little-space {
  margin-top: 8px;
}

.little-space.bottom {
  margin-top: 0;
  margin-bottom: 8px;
}

.small-space {
  margin-top: 16px;
}

.small-space.left {
  margin-top: 0;
  margin-left: 16px;
}

.small-space.right {
  margin-top: 0;
  margin-right: 16px;
}

.small-space.bottom {
  margin-top: 0;
  margin-bottom: 16px;
}

.base-space {
  margin-top: 32px;
}

.base-space.left {
  margin-top: 0;
  margin-left: 32px;
}

.base-space.right {
  margin-top: 0;
  margin-right: 32px;
}

.base-space.bottom {
  margin-top: 0;
  margin-bottom: 64px;
}

.large-space {
  margin-top: 64px;
}

.large-space.left {
  margin-top: 0;
  margin-left: 64px;
}

.large-space.right {
  margin-top: 0;
  margin-right: 64px;
}

.large-space.bottom {
  margin-top: 0;
  margin-bottom: 64px;
}

.extra-large-space {
  margin-top: 128px;
}

.sections-space {
  margin-top: 256px;
}

.padding-16 {
  padding: 16px;
}

.padding-32 {
  padding: 32px;
}

.padding-32.top {
  padding: 0;
  padding-top: 32px;
}

.padding-64 {
  padding: 64px;
}

.padding-64.bottom {
  padding: 0;
  padding-bottom: 64px;
}

.margin-0 {
  margin: 0 auto;
}

.description-card {
  color: #6FD5E9;
}

.description-card h1 span {
  position: relative;
  width: auto;
  opacity: 1;
  color: #6FD5E9;
}

.description-card > div {
  width: 100%;
  height: 1px;
  background-color: #6FD5E9;
  margin-top: 8px;
}

.card.card--dashboard {
  cursor: context-menu;
}

.card.card--dashboard img {
  width: 30%;
}

.card.card--dashboard p {
  line-height: 130%;
}

.card.card--projects {
  cursor: pointer;
  position: relative;
}

.card.card--projects img {
  width: 25%;
  position: absolute;
  right: 0;
  bottom: 0;
}

.card.card--downloads {
  cursor: pointer;
  position: relative;
  padding: 32px 80px 32px 16px;
}

.card.card--downloads img {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 15%;
}

.card.card--user {
  background-color: #C2F3FC;
}

.card.card--user .top-info {
  position: relative;
  top: -64px;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2), 0px 3px 16px rgba(0, 0, 0, 0.12), 0px 9px 12px rgba(0, 0, 0, 0.14);
  border-radius: 5px;
  background: #2092A8;
}

.card.card--user .user-infos input {
  color: #373737;
  border: none;
  border-bottom: 1px solid #373737;
}

.card.card--user .user-infos input:focus {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.card.card--user .user-infos button {
  background-color: #2092A8;
}

.card.card--user .user-profile > div {
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2), 0px 3px 16px rgba(0, 0, 0, 0.12), 0px 9px 12px rgba(0, 0, 0, 0.14);
  background: #2092A8;
  padding: 64px;
  border-radius: 50%;
  position: relative;
  top: -64px;
  font-size: 64px;
  line-height: 42px;
}

.card.card--user .user-profile p:nth-last-child(2) {
  margin-top: -32px;
}

.card {
  padding: 32px 16px;
  border-radius: 5px;
  box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.2), 0px 5px 22px rgba(0, 0, 0, 0.12), 0px 12px 17px rgba(0, 0, 0, 0.14);
  background-color: #2092A8;
}

#open-menu, #goTo-profile {
  z-index: 10;
  cursor: pointer;
  position: absolute;
  width: 32px;
  top: 32px;
  padding: 8px;
}

#open-menu i, #goTo-profile i {
  font-size: 34px;
  color: #2092A8;
}

#open-menu {
  left: 32px;
}

#goTo-profile {
  right: 64px;
}

#close-menu {
  cursor: pointer;
  z-index: 9;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100vh;
}

#header-dashboard {
  z-index: 10;
  display: none;
  position: fixed;
  width: 0;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #040505;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2), 0px 3px 16px rgba(0, 0, 0, 0.12), 0px 9px 12px rgba(0, 0, 0, 0.14);
}

@media screen and (max-width: 767px) {
  #header-dashboard {
    overflow-y: scroll;
  }
}

#header-dashboard #header-content {
  visibility: hidden;
}

#header-dashboard #header-content div {
  margin: 0 auto;
  width: 80%;
  height: 1px;
  margin-top: 8px;
  margin-bottom: 32px;
  background-color: #6FD5E9;
}

#header-dashboard h1 {
  padding-top: 8px;
  color: #6FD5E9;
}

@media screen and (max-width: 767px) {
  #header-dashboard ul {
    overflow-y: scroll;
    margin-left: 16px;
    margin-bottom: 32px;
  }
}

#header-dashboard ul li {
  cursor: pointer;
  padding: 12px;
  width: 80%;
  border-radius: 5px;
}

#header-dashboard ul li:hover {
  background: #2092A8;
}

#header-dashboard ul li:hover i {
  color: #ffffff;
}

#header-dashboard ul li i {
  font-size: 24px;
  color: #6FD5E9;
}

#header-dashboard ul li:nth-child(5) i {
  font-size: 17px;
}

#body-dashboard {
  background-color: #373737;
  margin-bottom: 32px;
}

.dashboard-form-container {
  padding: 16px;
  box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.2), 0px 5px 22px rgba(0, 0, 0, 0.12), 0px 12px 17px rgba(0, 0, 0, 0.14);
  border-radius: 5px;
  background-color: #C2F3FC;
}

.dashboard-form-container input {
  border-bottom: 2px solid #2092A8;
  color: #373737;
}

.dashboard-form-container input:focus {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.dashboard-form-container select {
  border: 2px solid #2092A8;
  border-radius: 5px;
  padding-left: 16px;
  padding-right: 16px;
  height: 80px;
}

.dashboard-form-container select.not-multiple {
  height: 40px;
}

.dashboard-form-container select option {
  margin-top: 8px;
  padding: 4px;
  border-radius: 5px;
}

.dashboard-form-container select option:last-child {
  margin-bottom: 8px;
}

.dashboard-form-container small {
  margin-top: 4px !important;
  font-size: 14px;
}

.btn-form-dash {
  padding: 15px 30px;
}

#app div {
  position: relative;
  border-radius: 5px;
  margin-left: 32px;
  width: 100%;
  padding: 16px;
  box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.2), 0px 5px 22px rgba(0, 0, 0, 0.12), 0px 12px 17px rgba(0, 0, 0, 0.14);
  background-color: #C2F3FC;
}

#app div + div {
  margin-top: 32px;
}

#app div h3 {
  color: #373737;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 32px;
}

#app div p {
  display: block;
  color: #373737;
}

#app div p + p {
  margin-top: 16px;
}

#app div .remove {
  cursor: pointer;
  width: auto;
  position: absolute;
  top: 0;
  right: 0;
  color: #2092A8;
  box-shadow: none;
}

#app div a {
  font-weight: bold;
  color: #2092A8;
}

#progress-bar {
  width: 12.5%;
  height: 8px;
  background-color: #273cf6;
}

#progress-bar::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 82%;
  top: 16px;
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  #progress-bar::after {
    width: 80%;
  }
}

#sign-up-2, #sign-up-3, #sign-up-4, #sign-up-5, #sign-up-6, #sign-up-7, #sign-up-8 {
  display: none;
}

.sign-up-form h1 span {
  position: relative;
  display: inline-block;
  width: auto;
  height: 0;
  opacity: 1;
}

.sign-up-form .sign-up-inputs input {
  font-weight: 400;
  font-size: 24px;
  color: #ffffff;
  padding: 16px 32px;
  border-bottom: 1px solid #273cf6;
}

.sign-up-form .sign-up-inputs input:focus {
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  border-color: #eb1d47;
  padding-left: 52px;
}

.sign-up-form .sign-up-inputs input:focus::placeholder {
  transition-duration: .5s;
  color: #eb1d47;
}

.sign-up-form .sign-up-inputs input[name=logradouro-empresa], .sign-up-form .sign-up-inputs input[name=bairro-empresa], .sign-up-form .sign-up-inputs input[name=cidade-empresa], .sign-up-form .sign-up-inputs input[name=estado-empresa] {
  border-bottom: 1px solid #eb1d47;
}

.sign-up-form .sign-up-buttons button + button {
  margin-left: 32px;
}

@media screen and (max-width: 767px) {
  .sign-up-form .sign-up-buttons button + button {
    margin-left: 0;
    margin-top: 32px;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 1px;
  height: auto;
}

.background-light {
  background-color: #ffffff;
}

.background-dark {
  background-color: #000000;
}

.button-outline {
  background-color: transparent;
}

.button-outline.red {
  color: #eb1d47;
  border: 2px solid #eb1d47;
}

.button-outline.red:hover {
  background-color: #eb1d47;
  color: #ffffff;
}

.button-outline.blue {
  color: #273cf6;
  border: 2px solid #273cf6;
}

.button-outline.blue:hover {
  background-color: #273cf6;
  color: #ffffff;
}

.button-filled.red {
  background-color: #eb1d47;
  color: #ffffff;
}

.button-filled.blue {
  background-color: #273cf6;
  color: #ffffff;
}

.button-filled.remove-mr {
  margin-right: -32px;
}

.button-filled:hover {
  opacity: .7;
}

#footer {
  background-color: #000000;
  padding-bottom: 64px;
  clear: both;
  margin-top: 256px;
}

#footer .social-medias p {
  cursor: pointer;
  position: relative;
  display: inline-block;
}

#footer .social-medias p:after {
  content: '.';
  font-size: 48px;
}

#footer .social-medias p:nth-child(1)::after, #footer .social-medias p:nth-child(1):hover {
  color: #0077B5;
}

#footer .social-medias p:nth-child(2)::after, #footer .social-medias p:nth-child(2):hover {
  color: #8A3AB9;
}

#footer .social-medias p:nth-child(3)::after, #footer .social-medias p:nth-child(3):hover {
  color: #3B5998;
}

#footer .social-medias p:nth-child(4)::after, #footer .social-medias p:nth-child(4):hover {
  color: #999999;
}

#footer .container div:last-child {
  cursor: pointer;
  margin-top: 64px;
  padding: 32px 0;
}

.goSection {
  position: absolute;
}

.partner-card {
  cursor: pointer;
  opacity: .7;
  background-color: #373737;
  height: 176px;
  border-radius: 5px;
}

#page-introduction {
  position: relative;
  min-height: 481px;
}

#page-introduction > img {
  position: absolute;
  left: 0;
  top: 0;
  min-height: 481px;
}

#page-introduction .goBottom {
  position: absolute;
  right: 64px;
  bottom: 16px;
}

h1 {
  z-index: 2;
  position: relative;
  display: inline-block;
  line-height: 130%;
}

h1 span {
  position: absolute;
  width: 95%;
  height: 23px;
  opacity: .2;
  bottom: 0;
  z-index: 1;
}

h1 span.color-red {
  background-color: #eb1d47;
}

h1 span.color-blue {
  background-color: #273cf6;
}

p {
  font-size: 16px;
  line-height: 170%;
}

h1, h2, h3 {
  line-height: 120%;
}

h1.reduce-lh, h2.reduce-lh, h3.reduce-lh {
  line-height: 90%;
}
