$cols: 12;
$gutter: 20px;
$l-device: 1200px; // Dispositivos largos (desktop)
$m-device: 960px; // Dispositivos médios (notebooks)
$t-device: 768px; // Tablets em geral
$s-device: 480px; // Smartphones em geral

*, *::after, *::before {
  box-sizing: border-box;
}

@mixin d($size) {
  @if $size == l {
    @media screen and (min-width: #{$l-device}) {
      @content;
    };   
  }
  @else if $size == m {
    // Quando o tamanho da tela for, no mínimo, e no máximo este faça:
    @media screen and (min-width: #{$m-device}) and (max-width: #{$l-device - 1}) {
      @content;
    };
  }
  @else if $size == t {
    @media screen and (min-width: #{$t-device}) and (max-width: #{$m-device - 1}) {
      @content;
    };
  }
  @else if $size == s {
    @media screen and (max-width: #{$t-device - 1}) {
      @content;
    };
  }
}

@function grid($col, $offset: false) {
  // 4 / 12 * 100 + % == 33,33%
  $width: $col / $cols * 100 + '%';
  $result: calc(#{$width} - #{$gutter});
  @if $offset == offset {
    $gutter: $gutter / 2;
    $result: calc(#{$width} + #{$gutter});
  }
  @return $result;
}

@for $i from 1 through $cols {
  .grid-#{$i} {
    width: grid($i)
  }
}

@mixin grid-structure {
  float: left;
  min-height: 1px;
  margin-left: $gutter / 2;
  margin-right: $gutter / 2;
  @include d(s) {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0;
  }
}

// Todos os elementos que tiverem class que começam (^) com "grid-"
[class^="grid-"] {
  @include grid-structure;
}

@for $i from 1 through $cols {
  .offset-#{$i} {
    margin-left: grid($i, offset);
    @extend %offset;
  }
}

@include d(s) {
  %offset {
    margin-left: 0;
  }
}

@mixin clearfix {
  &::after, &::before {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin container {
  max-width: $l-device;
  margin: 0px auto;
  position: relative;
  @include d(m) {
    // Can be removed
    max-width: $m-device;
  }
  @include d(t) {
    max-width: $t-device;
  }
  @include d(s) {
    max-width: $s-device;
    padding-left: 10px;
    padding-right: 10px;
  }
  @include clearfix;
}

.container {
  @include container;
}

@mixin row {
  margin-left: -$gutter / 2;
  margin-right: -$gutter / 2;
  @include d(s) {
    margin-left: 0;
    margin-right: 0;
  }
  @include clearfix;
}

.row {
  @include row;
}