<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<title>Login</title>
</head>

<body>

<div class="form-group">
	
   <label>Admin</label>
			
		</div>

	<form action="#" th:action="@{/login}" th:object="${usuario}" method="post"
		onsubmit="return validaFormLogin(this);">

		<div class="form-group">
			<input type="text" th:field="*{email}" id="login" class="form-control col-md-2" placeholder="Email">
		</div>

		<div class="form-group">
			<input type="password" th:field="*{senha}" id="senha" class="form-control col-md-2" placeholder="Senha">
		</div>

		<div class="form-group">
			<input type="submit" value="Entrar" class="btn btn-primary" />
		</div>


	</form>
	
		<form action="#" th:action="@{/login}" th:object="${usuario}" method="post"
		onsubmit="return validaFormLogin(this);">

		<div class="form-group">
			<input type="text" th:field="*{email}" id="login" class="form-control col-md-2" placeholder="Email">
		</div>

		<div class="form-group">
			<input type="password" th:field="*{senha}" id="senha" class="form-control col-md-2" placeholder="Senha">
		</div>

		<div class="form-group">
			<input type="submit" value="Entrar" class="btn btn-primary"  style="background: green"/>
		</div>


	</form>
</body>
<script src="../../js/form.js"></script>

</html>