<!DOCTYPE html>
<html lang="pt-br">

<head>
  <!-- INÍCIO META TAGS -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- FIM META TAGS -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../css/style.css" />
  <title>Pignus</title>
</head>

<body id="body-dashboard">

  <div id="open-menu">
    <i class="fas fa-bars"></i>
  </div>
  <div id="close-menu"></div>
  <header id="header-dashboard" class="small-space right">
    <div id="header-content">
      <a href="dashboard.html"><h1 class="font-weight-light d-block font-size-title align-center">Pignus Solution</h1></a>
      <div></div>
      <ul class="base-space left">
        <a href="dashboard.html">
          <li class="color-white font-size-body"><i class="small-space right menu-icon fas fa-tachometer-alt"></i>Meu
            dashboard</li>
        </a>
        <a href="meus-downloads.html">
          <li class="color-white font-size-body base-space"><i
              class="small-space right menu-icon fas fa-download"></i>Meus
            downloads</li>
        </a>
        <a href="meus-projetos.html">
          <li class="color-white font-size-body base-space"><i
              class="small-space right menu-icon fas fa-rocket"></i>Meus
            projetos</li>
        </a>
        <a href="novo-programa.html">
          <li class="color-white font-size-body base-space"><i
              class="small-space right menu-icon fas fa-plus"></i>Adicionar
            programas</li>
        </a>
        <a href="novo-setor.html">
          <li class="color-white font-size-body base-space"><i
              class="small-space right menu-icon fas fa-sitemap"></i>Adicionar setores</li>
          <a href="novo-projeto.html">
            <li class="color-white font-size-body base-space"><i
                class="small-space right menu-icon fas fa-plus"></i>Adicionar
              projetos</li>
          </a>
          <a href="../login.html">
            <li class="color-white font-size-body base-space"><i
                class="small-space right menu-icon fas fa-sign-out-alt"></i>Sair</li>
          </a>
      </ul>
    </div>
  </header>

  <a href="configuracoes-usuario.html" id="goTo-profile">
    <div>
      <i class="fas fa-user"></i>
    </div>
  </a>

  <div class="container extra-large-space">
    <div class="grid-12">
      <div class="description-card">
        <h1 class="font-weight-bold font-size-subtitle">Meus downloads</h1>
        <div></div>
      </div>
    </div>
    <div class="grid-3 base-space" th:object="${download}" th:each="listaArqv: ${listaArqv}">
      <a href="#" th:href=@{${listaArqv.link}}>
        <div class="card card--downloads">
          <img src="../img/icons/meus-downloads.svg" />
          <p class="font-weight-bold color-white" th:text=${listaArqv.nomePrograma}><span class="font-weight-light"></span></p>
          <p class="font-weight-bold color-white small-space" th:text=${listaArqv.funcaoDownload.nomeFuncao}><span class="font-weight-light"></span></p>
        </div>
      </a>
    </div>
  </div>

  <script src="js/default.js"></script>
</body>

</html>