<!DOCTYPE html>
<html lang="pt-br">

<head>
  <link rel="shortcut icon" type="image/x-icon" href="../img/pignus-favicon.png">
  <!-- INÍCIO META TAGS -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- FIM META TAGS -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../css/style.css" />
  <title>Pignus Solution - Adicionar Setor</title>
</head>

<body id="body-dashboard">

  <div id="open-menu">
    <i class="fas fa-bars"></i>
  </div>
  <div id="close-menu"></div>
  <header id="header-dashboard" class="small-space right">
    <div id="header-content">
     <a th:href=@{/home}><h1 class="font-weight-light d-block font-size-title align-center">Pignus Solution</h1></a>
      <div></div>
      <ul class="base-space left">
        <a th:href=@{/home}>
          <li class="color-white font-size-body"><i class="small-space right menu-icon fas fa-tachometer-alt"></i>Meu
            dashboard</li>
        </a>
        <a th:href="@{/meusDownloads(funcaoId=${session.usuarioLogado.funcaoUsuario.id})}">
          <li class="color-white font-size-body base-space"><i
              class="small-space right menu-icon fas fa-download"></i>Meus
            downloads</li>
        </a>
        <a th:href=@{/meusProjetos} >
          <li class="color-white font-size-body base-space"><i
              class="small-space right menu-icon fas fa-rocket"></i>Meus
            projetos</li>
        </a>
        <a th:href=@{/novoPrograma}>
          <li class="color-white font-size-body base-space"><i
              class="small-space right menu-icon fas fa-plus"></i>Adicionar
            programas</li>
        </a>
       <a th:href=@{/novoSetor}>
          <li class="color-white font-size-body base-space"><i
              class="small-space right menu-icon fas fa-sitemap"></i>Adicionar setores</li>
          <a th:href=@{/novoProjeto}>
            <li class="color-white font-size-body base-space"><i
                class="small-space right menu-icon fas fa-plus"></i>Adicionar
              projetos</li>
          </a>
         <a th:href=@{/logoff}>
            <li class="color-white font-size-body base-space"><i
                class="small-space right menu-icon fas fa-sign-out-alt"></i>Sair</li>
          </a>
      </ul>
    </div>
  </header>

 <a th:href=@{/configuracoesUsuario} id="goTo-profile">
    <div>
      <i class="fas fa-user"></i>
    </div>
  </a>

  <div class="container">
    <div class="grid-6 extra-large-space">
      <h2 class="color-blue-dash font-weight-bold font-size-subtitle align-center small-space bottom">Eita! Conseguimos
        mais um setor? :D</h2>
      <form class="dashboard-form-container">
        <div>
          <label class="font-weight-bold color-gray little-space bottom">Quem será o gestor deste setor?</label>
          <select id="select-manager" class="not-multiple base-space bottom">
            <option selected disabled>Selecione o novo gestor...</option>
            <option>Ryan Gomes</option>
            <option>Guilherme Sousa</option>
            <option>Rodrigo Guimarães</option>
          </select>
        </div>
        <div>
          <label class="font-weight-bold color-gray little-space bottom">E quem será colaborador deste setor?</label>
          <select id="select-contributors" multiple>
            <option disabled>Selecione os colaboradores...</option>
            <option>Bianca Gomes</option>
            <option>Bruno Carvalho</option>
            <option>Diego Braga</option>
            <option>Guilherme Raulino</option>
          </select>
          <small class="font-weight-light color-gray base-space bottom">Para selecionar mais de um, pressione e segure
            CTRL</small>
        </div>
        <div>
          <label class="font-weight-bold color-gray little-space bottom">Quais softwares eles irão necessitar?</label>
          <select id="select-softwares" multiple>
            <option disabled>Selecione os colaboradores...</option>
            <option>Eclipse IDE</option>
            <option>Brackets</option>
          </select>
          <small class="font-weight-light color-gray base-space bottom">Para selecionar mais de um, pressione e segure
            CTRL</small>
        </div>
        <div>
          <label class="font-weight-bold color-gray tiny-space bottom">Por fim, qual será o nome deste setor?</label>
          <input class="base-space bottom font-size-body" type="text" name="nome-setor" />
        </div>
        <button id="add-to-app" type="button"
          class="btn-form-dash button-outline blue color-blue-dash to-uppercase font-weight-bold">Anexar</button>
      </form>
    </div>
    <div class="grid-6 extra-large-space">
      <h2 class="color-blue-dash font-weight-bold font-size-subtitle align-center small-space bottom">Estes são os
        setores que você acabou de cadastrar</h2>
      <div id="app"></div>
      <button type="submit"
        class="btn-form-dash remove-mr button-filled blue color-blue-dash to-uppercase font-weight-bold float-right base-space">Finalizar</button>
    </div>
  </div>

  <script src="js/pace.js"></script>
  <script src="js/add-sector.js"></script>
  <script src="js/aside-animations.js"></script>

</body>

</html>