.description-card {
  color: $blue-dash-2;

  h1 span {
    position: relative;
    width: auto;
    opacity: 1;
    color: $blue-dash-2;
  }

  > div {
    width: 100%;
    height: 1px;
    background-color: $blue-dash-2;
    margin-top: 8px;
  }
}

.card {
  @extend %card-structure;

  &.card--dashboard {
    cursor: context-menu;
    img {
      width: 30%;
    }

    p {
      line-height: 130%;
    }
  }

  &.card--projects {
    position: relative;

    img {
      width: 25%;
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  &.card--downloads {
    cursor: pointer;
    position: relative;
    padding: 32px 80px 32px 16px;

    img {
      position: absolute;
      top: 16px;
      right: 16px;
      width: 15%;
    }
  }

  &.card--user {
    background-color: $blue-dash-1;

    .top-info {
      position: relative;
      top: -64px;
      box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2), 0px 3px 16px rgba(0, 0, 0, 0.12), 0px 9px 12px rgba(0, 0, 0, 0.14);
      border-radius: 5px;
      background: $blue-dash-3;
    }

    .user-infos {
      input {
        color: $gray;
        border: none;
        border-bottom: 1px solid $gray;

        &:focus {
          border-bottom-left-radius: 16px;
          border-bottom-right-radius: 16px;
        }
      }

      button {
        background-color: $blue-dash-3;
      }
    }

    .user-profile {

      > div {
        box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2), 0px 3px 16px rgba(0, 0, 0, 0.12), 0px 9px 12px rgba(0, 0, 0, 0.14);
        background: $blue-dash-3;
        padding: 64px;
        border-radius: 50%;
        position: relative;
        top: -64px;
        font-size: 64px;
        line-height: 42px;
      }

      p:nth-last-child(2) {
        margin-top: -32px;
      }
    }
  }
}
