body {
  font-family: 'Roboto', sans-serif;
  min-height: 1px;
  height: auto;
  scroll-behavior: smooth;
}

.background-light {
  background-color: $light;
}

.background-dark {
  background-color: $dark;
}