#page-introduction {
  position: relative;
  min-height: 481px;
  top: -90px;
  z-index: -1;

  > img {
    position: absolute;
    left: 0;
    top: 0;
    min-height: 481px;
  }

  .goBottom {
    position: absolute;
    right: 64px;
    bottom: 16px;
  }
}