@import 'form/styles';
@import 'body';
@import 'buttons';
@import 'card-us';
@import 'footer';
@import 'header';
@import 'goSection';
@import 'intro-animation';
@import 'partner-card';
@import 'specify-sections';
@import 'texts';