h1 {
  position: relative;
  display: inline-block;
  line-height: 130%;

  + h1.effect {
    position: absolute;
    left: 0;
  }
  
  span {
    position: absolute;
    width: 90%;
    height: 23px;
    opacity: .2;

    &.color-red {
      color: $red;
    }

    &.color-blue {
      color: $blue;
    }
  }
}

p {
  font-size: $size-body;
  line-height: 170%;
}

h1, h2, h3 {
  line-height: 150%;
}