h1 {
  z-index: 2;
  position: relative;
  display: inline-block;
  line-height: 130%;
  
  span {
    position: absolute;
    width: 95%;
    height: 23px;
    opacity: .2;
    bottom: 0;
    z-index: -1;

    &.color-red {
      background-color: $red;
    }

    &.color-blue {
      background-color: $blue;
    }
  }
}

p {
  font-size: $size-body;
  line-height: 170%;
}

h1, h2, h3 {
  line-height: 120%;

  &.reduce-lh {
    line-height: 90%;
  }
}