.dashboard-form-container {
  padding: 16px;
  box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.2), 0px 5px 22px rgba(0, 0, 0, 0.12), 0px 12px 17px rgba(0, 0, 0, 0.14);
  border-radius: 5px;

  input {
    border-bottom: 2px solid red;
    color: $gray;

    &:focus {
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;
    }
  }

  select {
    border: 2px solid red;
    border-radius: 5px;
    padding-left: 16px;
    height: 60px;

    option {
      margin-top: 8px;
      padding: 4px;

      &:last-child {
        margin-bottom: 8px;
      }
    }
  }

  small {
    margin-top: 4px !important;
    font-size: 14px;
  }

  button {
    padding: 15px 30px;
  }

}