.dashboard-form-container {
  padding: 16px;
  box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.2), 0px 5px 22px rgba(0, 0, 0, 0.12), 0px 12px 17px rgba(0, 0, 0, 0.14);
  border-radius: 5px;
  background-color: $blue-dash-1;

  input {
    border-bottom: 2px solid $blue-dash-3;
    color: $gray;

    &:focus {
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;
    }
  }

  select {
    border: 2px solid $blue-dash-3;
    border-radius: 5px;
    padding-left: 16px;
    padding-right: 16px;
    height: 80px;

    &.not-multiple {
      height: 40px;
    }

    option {
      margin-top: 8px;
      padding: 4px;
      border-radius: 5px;

      &:last-child {
        margin-bottom: 8px;
      }
    }
  }

  small {
    margin-top: 4px !important;
    font-size: 14px;
  }

}

.btn-form-dash {
  padding: 15px 30px;
}

#app {

  div {
    position: relative;
    border-radius: 5px;
    margin-left: 32px;
    width: 100%;
    padding: 16px;
    box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.2), 0px 5px 22px rgba(0, 0, 0, 0.12), 0px 12px 17px rgba(0, 0, 0, 0.14);
    background-color: $blue-dash-1;

    + div {
      margin-top: 32px;
    }
    h3 {
      color: $gray;
      font-weight: bold;
      font-size: 24px;
      margin-bottom: 32px;
    }

    p {
      display: block;
      color: $gray;
      
      + p {
        margin-top: 16px;
      }
    
    }

    .remove {
      cursor: pointer;
      width: auto;
      position: absolute;
      top: 0;
      right: 0;
      color: $blue-dash-3;
      box-shadow: none;
    }

    a {
      font-weight: bold;
      color: $blue-dash-3;
    }

  }

}